# COZE 服务
COZE_BASE_URL="https://api.coze.cn"
COZE_AUTHORIZATION="pat_pWjT4NzBjecxMqdtefjLnh0zAKx8LfKZ0WSyNV7os2YDXyucSJL3EKEHEo5Z1x1D"  

## 图片特征分析
PICTURE_ANALYSIS_BOT_ID="7535889557259419663"

## 可爱风格
CUTE_STYLE_PROMPT_GENERATION_BOT_ID="7535162220498894900"

## 蒸汽朋克风格
STEAMPUNK_STYLE_PROMPT_GENERATION_BOT_ID="7535882751053053967"
	
## 日漫风格
JAPANESE_COMIC_STYLE_PROMPT_GENERATION_BOT_ID="7535152649109782580"

## 美漫风格
AMERICAN_COMIC_STYLE_PROMPT_GENERATION_BOT_ID="7535507531864162314"

## 职业风格
PROFESSION_STYLE_PROMPT_GENERATION_BOT_ID="7527144391158022195"

## 赛博朋克风格 
CYBERPUNK_STYLE_PROMPT_GENERATION_BOT_ID="7535882378514841640"

## 哥特风格
GOTHIC_STYLE_PROMPT_GENERATION_BOT_ID="7535878465259061286"

## 写实风格
REALISTIC_STYLE_PROMPT_GENERATION_BOT_ID="7535161014963519530"



# 数据库
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=milo_2357  # 数据库密码
DB_NAME=FORMU

## PS: 现在backend文件夹下创建一个.env文件，然后把这个文件的内容复制粘贴到.env文件中, 具体的配置要核对已经发布的coze智能体的信息